html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ************************* END CSS RESET *************************** */

* {
    box-sizing: border-box;
}
html {
    overflow-X: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.page-sect {
    max-width: 1200px;
    margin: 0 auto;
}
a, a:hover {
    text-decoration: none;
    cursor: pointer;
}
ul, li {
    padding: 0;
    margin: 0;
}
.header-contain {
    text-align: center;
    background-color: #005ca9;
    font-family: "Frijole", sans-serif;
    z-index: 9999;
}
.logo {
    display: block;
    width: 100px;
}
.nav-ul {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}
.menu {
    flex: 1 0 auto;
    padding: 10px;
    color: white;
    letter-spacing: .1em;
    list-style-type: none;
    text-align: center;
}
a {
    color: white;
}
.menu:first-child {
    flex: 1 0 auto;
}
.menu:nth-child(5) {
    flex: 3 0 auto;
    text-align: right;
    line-height: 1.5;
}
.menu-a {
    color: white;
    text-shadow: 0px 0px 3px white;
}
.menu-a:hover, .email-address:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.contact-info:hover {
    border: none;
}
.trigram {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    margin: 17px 17px 0 0;
}
.fb-icon {
    width: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
}
.hide-desktop {
    display: none;
}
.sub-menu {
    position: absolute;
    right: 0px;
    top: 150px;
    width: 175px;
    list-style-type: none;
    padding: 20px 30px 20px 20px;
    text-align: right;
    background-color: rgba(0, 92, 169, 0.9);
    transform: rotateX(90deg);
    z-index: 999;
}
.sub-menu-a {
    color: white;
    font-size: 24px;
    text-shadow: 0px 0px 3px white;
}
.hero-contain {
    position: relative;
    background-image: url("images/placeholder-image-001.jpg");
    background-position: 50% 50%;
    background-size: cover;
}
.hero-text-contain {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.hero-twins {
    width: 100%;
    height: 60vh;
}
.hero-h1, .hero-h2, .hero-p {
    margin: 0 auto;
    line-height: 1;
    text-align: center;
    color: #005ca9;
}
.hero-h1 {
    margin-top: 30px;
    padding: 0 3vw 0 3vw;
    font-size: 90px;
    font-family: 'Frijole', sans-serif;
    font-weight: 400;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.hero-h2, .hero-p, .quote-btn, .menu, .sub-menu, .sub-menu-a, .slogan, .paragraph, .services-h2, .services-p, span, #toTop, .service-menu-h3, .service-menu-item, .close, textarea, .footer-contain, .service-h3, .get-in-touch, .thank-you-h1, .thank-you-h2, .thank-you-p {
    font-family: 'Open Sans', arial;
}
.hero-h2 {
    margin-top: 20px;
    padding: 0 3vw 0 3vw;
    font-size: 30px;
    font-weight: 800;
}
.hero-p {
    max-width: 900px;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: .1em;
}
.quote-btn {
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    background-color: rgb(255, 123, 0);
    color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}
.quote-btn:hover {
    cursor: pointer;
    background-color: rgb(255, 138, 28);
}
.slogan {
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #005ca9;
    color: white;
    font-size: 26px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 3px white;
}
.paragraph {
    max-width: 900px;
    margin: 0 auto;
    padding: 18px;
    line-height: 1.5;
    color: #005ca9;
    font-size: 16px;
}
.question {
    padding-top: 25px;
    font-size: 24px;
    text-align: center;
}
.services-h2 {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background-color: #005ca9;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 3px white;
    font-weight: 400;
}
.services-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    padding-top: 30px;
}
.service-cont {
    flex: 1 0 260px;
    background-color: rgb(212, 229, 245);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
}
.service-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 280px;
}
.services-p {
    padding: 10px 0;
    line-height: 1.5;
    color: #005ca9;
    font-size: 16px;
}
.benefits-ul {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    list-style-type: none;
}
.benefits-li {
    margin-top: 40px;
}
.benefits-li > span {
    color: #005ca9;
    font-size: 20px;
    line-height: 1.5;
}
.benefits-span {
    font-weight: 800;
    margin-right: 10px;
}
.service-menu-h3, .service-h3 {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    color: #005ca9;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 229, 245);
}
.services-menu-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 15px;
    list-style-type: none;
    text-align: center;
}
.service-menu-item {
    display: block;
    margin: 10px;
    min-width: 100px;
    max-width: 150px;
    padding: 5px 0;
}
.service-menu-item:hover {
    background-color: rgba(0, 92, 169, 0.1);
    border-radius: 5px;
}
.service-menu-item > a {
    font-weight: 800;
    color: #005ca9;
}
.cert-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 246px;
    height: auto;
    padding: 50px 15px;
}
/* .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.gallery-thumb {
    flex: 1 0 175px;
    margin: 15px;
}
.gallery-thumb > img {
    display: block;
    width: 100%;
    max-width: 265px;
    margin: 0 auto;
} */
.gallery-modal, .contact-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    transform: rotateX(90deg);
}
.get-in-touch {
    color: #005ca9;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.get-in-touch >a:hover {
    text-decoration: underline;
}
.get-in-touch > a {
    color: #005ca9;
    font-weight: 800;
}
.servicing1 {
    padding-top: 60px;
}
.servicing2 {
    padding-bottom: 60px;
    font-weight: 800;
}
.footer-contain {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #005ca9;
    color: white;
}
.sitemap {
    display: flex;
    color: white;
    padding-bottom: 20px;
}
.sitemap-a {
    flex: 1 0 auto;
    color: white;
}
.copyright {
    padding-right: 10px;
}
.signature {
    font-size: 12px;
    color: #a5baca;
}
.signature > a {
    font-weight: 800;
    color: #a5baca;
}
.sitemap-a:first-child {
    text-align: right;
}
.sitemap-a:nth-child(3) {
    text-align: left;
}
/* #modalImg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 95vw;
    max-height: 95vh;
} */
.close {
    display: none;
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 3px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.15);
}
.close:hover {
    cursor: pointer;
}
.call-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
}
.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    line-height: 38px;
    background-color: rgb(255, 208, 0);
    transform: rotate(90deg);
    padding: 0;
    opacity: 0;
}
.toTop:hover {
    cursor: pointer;
}
.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}
.form-message-cont {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;
}
.contact-form > input, .contact-form > textarea, .contact-form > button {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 2vh auto;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.15);
}
::placeholder {
    color: white;
    opacity: 1;
}
.contact-form > input:focus, .contact-form > textarea:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 3px rgb(0, 89, 255);
    border: 1px solid rgb(0, 89, 255);
}
.contact-form > textarea {
    height: 100px;
}
.contact-form > button {
    width: 100px;
    background-color: rgb(255, 123, 0);
    border: none;
}
.contact-form > button:hover {
    cursor: pointer;
}
input:required {
    box-shadow: none;
}
.thank-you-content {
    min-height: 50vh;
}
.thank-you-h1, .thank-you-h2, .thank-you-p {
    text-align: center;
    color: #005ca9;
}
.thank-you-h1 {
    padding: 50px 15px 0 15px;
    font-size: 50px;
}
.thank-you-h2 {
    padding: 30px 15px 0 15px;
    font-size: 30px;
}
.thank-you-p {
    padding: 20px 15px 50px 15px;
}
.thank-you-p > a {
    color: #005ca9;
    font-weight: 800;
}


.sub-menu-out-1 {
    animation: sub-menu-out-1 300ms ease-out forwards;
}
.sub-menu-out-2 {
    animation: sub-menu-out-2 350ms ease-out forwards;
}
.sub-menu-out-3 {
    animation: sub-menu-out-3 400ms ease-out forwards;
}
.sub-menu-in-1 {
    animation: sub-menu-in-1 300ms ease-out forwards;
}
.sub-menu-in-2 {
    animation: sub-menu-in-2 350ms ease-out forwards;
}
.sub-menu-in-3 {
    animation: sub-menu-in-3 400ms ease-out forwards;
}
.hero-in {
    animation: hero-in 300ms ease-out forwards;
}
.hero-out {
    animation: hero-out 300ms ease-out forwards;
}
.toTop-in {
    animation: toTop-in 500ms ease forwards;
}
.toTop-out {
    animation: toTop-out 500ms ease forwards;
}
.modalOpen {
    animation: modalOpen 500ms ease forwards;
}
.modalClose {
    animation: modalClose 500ms ease forwards;
}

@keyframes sub-menu-out-1 {
    0% { top: 0px; }
    50% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); top: 55px; }
}
@keyframes sub-menu-out-2 {
    0% { top: 0px; }
    50% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); top: 119px; }
}
@keyframes sub-menu-out-3 {
    0% { top: 0px; }
    50% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); top: 183px; }
}
@keyframes sub-menu-in-1 {
    0% { transform: rotateX(0deg); top: 55px; }
    50% { transform: rotateX(90deg); }
    100% { top: 0px; }
}
@keyframes sub-menu-in-2 {
    0% { transform: rotateX(0deg); top: 119px; }
    50% { transform: rotateX(90deg); }
    100% { top: 0px; }
}
@keyframes sub-menu-in-3 {
    0% { transform: rotateX(0deg); top: 183px; }
    50% { transform: rotateX(90deg); }
    100% { top: 0px; }
}
@keyframes hero-in {
    from { background-color: rgba(255, 255, 255, 0.8); }
    to { background-color: rgba(255, 255, 255, 0.2); }
}
@keyframes hero-out {
    from { background-color: rgba(255, 255, 255, 0.2); }
    to { background-color: rgba(255, 255, 255, 0.8); }
}
@keyframes toTop-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes toTop-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes modalOpen {
    from { transform: rotateX(90deg); background-color: rgba(0, 0, 0, 0.0); }
    to { transform: rotateX(0deg); background-color: rgba(0, 0, 0, 0.9); }
}
@keyframes modalClose {
    from { transform: rotateX(0deg); background-color: rgba(0, 0, 0, 0.9); }
    to { transform: rotateX(90deg); background-color: rgba(0, 0, 0, 0.0); }
}

@media screen and (max-height: 500px) {
    #formMessage {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
    }
    #fullName {
        position: absolute;
        top: 85px;
        left: 48%;
        transform: translateX(-100%);
        width: 40%;
    }
    #phoneNumber {
        position: absolute;
        top: 130px;
        left: 48%;
        transform: translateX(-100%);
        width: 40%;
    }
    #eMail {
        position: absolute;
        top: 175px;
        left: 48%;
        transform: translateX(-100%);
        width: 40%;
    }
    #textArea {
        position: absolute;
        top: 85px;
        right: 48%;
        transform: translateX(100%);
        width: 40%;
    }
    #submitBtn {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translateX(-50%);

    }
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
    .hero-twins {
        height: 75vh;
    }
}
@media screen and (max-width: 1001px) {
    .hero-h1 {
        font-size: 8vw;
        margin-top: 3vh;
    }
    .hero-h2, .hero-p, .quote-btn {
        margin-top: 3vh;
    }
    .hero-h2 {
        font-size: 6vw;
    }
    .hero-p {
        font-size: 16px;
    }
}
@media screen and (max-width: 801px) {
    .hide-mobile {
        display: none;
    }
    .hide-desktop {
        display: block;
    }
    .logo {
        height: 40px;
    }
    .services-h2 {
        font-size: 5vw;
    }
    .fb-icon {
        top: 10px;
        right: 75px;
    }
}
@media screen and (max-width: 601px) {
    .slogan {
        font-size: 3vw;
    }
    .service-h3 {
        font-size: 5vw;
    }
}
@media screen and (orientation: portrait) and (max-width: 501px) {
    .hero-twins {
        height: 50vh;
    }
    .thank-you-h1 {
        font-size: 10vw;
    }
    .thank-you-h2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .footer-contain {
        padding: 20px 0 10px 0;
    }
    .sitemap {
        padding-bottom: 60px;
    }
}